<div class="jumbotron">
  <div class="container text-center">
    <p class="display-4">
      Esta encuesta sirve para...
    </p>
  </div>
</div>

<div class="container">
  <%#= form_with model: @encuesta, builder: BootstrapForm::FormBuilder do |f| %>
  <%= bootstrap_form_for @encuesta do |f| %>
  <div class="row">
    <%= f.text_field :primer_nombre, wrapper: { class: "col" } %>
    <%= f.text_field :segundo_nombre, wrapper: { class: "col" } %>
  </div>
  <div class="row bg-faded">
    <%= f.text_field :primer_apellido, wrapper: { class: "col" } %>
    <%= f.text_field :segundo_apellido, wrapper: { class: "col" } %>
  </div>
  <div class="row">
    <%= f.text_field :corre_ele,
            label: "Corre-ele (E-mail)",
            wrapper: { class: "col-sm-6" } %>
    <%= f.select :provincia,
          [
            "Alberta",
            "British Columbia",
            "Manitoba",
            "New Brunswick",
            "Newfoundland and Labrador",
            "Nova Scotia",
            "North West Territories",
            "Nunavut",
            "Ontario",
            "Prince Edward Island",
            "Québec",
            "Saskatchewan",
            "Yukon"
          ],
          { label: "Provincia o Territorio de Residencia" },
          wrapper: { class: "col-sm-6" } %>
  </div>

  <%= yes_no_no_answer f,
        :edad,
        "Tendré la edad para votar en las elecciones en Guatemala en el 2019 (TBC).",
        class: "bg-faded" %>

  <%= yes_no_no_answer f,
        :votaria,
        "Votaría en la provincia donde resido si fuera posible." %>

  <%= yes_no_no_answer f, :dpi, "Tengo DPI.", class: "bg-faded" %>

  <%= yes_no_no_answer f,
        :pasaporte,
        "Tengo pasaporte guatemalteco vigente." %>

  <%= yes_no_no_answer f,
        :servicios,
        "No tengo servicios consulares a menos de 100 kms de mi hogar.",
        class: "bg-faded" %>

  <%= f.primary "Guardar Respuestas" %>
  <% end %>
</div>
