<div class="background-flag-gt">
  <div class="jumbotron">
    <div class="container text-center">
      <h1 class="display-3">Plaza Chapina</h1>
      <p class="display-4">
        Este sitio está dedicado al intercambio de información relavante a los chapines y las chapinas que desde hace mucho o poco tiempo, por cualquier razón, son residentes temporales o permanentes de Canadá.
      </p>
    </div>
  </div>
  <div class="jumbotron">
    <div class="container text-center">
      <p class="display-4">
        La información que ustedes encontrarán en este sitio no promueve ni pratrocina ningún partido político. Somos un colectivo de gente que ama a Guatemala y estamos interesados en avanzar y promover los derechos legales, sociales y humanos que afectan
        a los chapines y las chapinas que se encuentran fuera de Guatemala. Somos solidarios con las causas por equidad, justicia y libertad de los pueblos indigenas del mundo; con los y las migrantes; con los y las comuniades desplazadas; los refugiados y
        las refugiadas; los trabajadores y las trabajadoras migrantes temporales.
      </p>
    </div>
  </div>
  <div class="jumbotron">
    <div class="container text-center">
      <p class="display-4">
        El primer proyecto que promovemos en este sitio es una encuesta cuya meta es obtener servicios consulares completos para los chapines y chapinas en Columbia Británica. Uno de los propósitos de la encuesta es la participación democrática de esta
        comunidad en las elecciones presidenciales de Guatemala del 2019.
      </p>
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h2>Encuesta</h2>
        <p>
          Denos sus opiniones acerca de los servicios consulares guatemaltecos a través de nuestra encuesta.
        </p>
        <p>
          <%#= link_to "Próximamente >>", "#" %>
          <%= link_to "Encuesta >>", new_encuesta_path %>
        </p>
      </div>
      <div class="col">
        <h2>Comuníquese con Nosotr@s</h2>
        <p>
          Háganos llegar sus comentarios, opiniones, o dudas.
        </p>
        <p>
          <%#= link_to "Próximamente >>", "#" %>
          <%= link_to "Comuníquese >>", new_contacto_path %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Inscríbase</h2>
        <p>
          Inscríbase con nosotros para recibir noticias acerca de la campaña por medio de corre-ele (e-mail).
        </p>
        <p>
          <%#= link_to "Próximamente >>", "#" %>
          <%= link_to "Inscríbase >>", new_user_session_path %>
        </p>
      </div>
      <div class="col">
        <h2>¿Quiénes Somos?</h2>
        <p>
          Somos un grupo de chapinas y chapines residentes en Canadá
          quienes buscamos...
        </p>
        <p>
          <%#= link_to "Próximamente >>", "#" %>
          <%= link_to "Quiénes Somos >>", quienes_somos_path %>
        </p>
      </div>
    </div>
  </div>
  <!-- <div class="jumbotron">
    <div class="container text-center">
      <p>
        Disclaimer
      </p>
      <p>
        <%= link_to "Acepto y continúe...", "#" %>
      </p>
    </div>
  </div> -->
</div>
