<!-- The trick seems to be, if you want colour that goes all the way across
    the viewport, just use a div, not a container. Doh! -->
<div class="menu-wrap">
  <div class="bg-primary">
    <%# bg-primary needed also on nav for fixed manu to show up. %>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-top">
      <!-- Don't put this in the container -->
      <button class="navbar-toggler navbar-toggler-right collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <%= link_to "Plaza Chapina", root_path, class: "navbar-brand" %>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Encuesta", new_encuesta_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Quienes Somos", quienes_somos_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contacto", new_contacto_path, class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav">
          <% if current_user %>
          <li class="nav-item">
            <%= link_to "Sign Out",
                    destroy_user_session_path,
                    method: :delete,
                    class: "nav-link" %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to t("devise.shared.links.sign_in"),
                new_user_session_path,
                class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t("devise.shared.links.sign_up"),
              new_user_registration_path,
              class: "nav-link" %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</div>
